[Desktop Entry]
Encoding=UTF-8
Name=Link to Adoption Cats
Type=Link
URL=file:///home/student/Desktop/individual-project-2017/home_page.%20html
Icon=text-html
