<!DOCTYPE html>
<html style= "background-color: #D3D3D3">
<title>Login</title>

<body>
	<center><h1>Login</h1></center>

     <div class="form-group">
     <label class="col-md-4 control-label" for="email">Email:</label>  
     		<div class="col-md-4">
		  	<input id="email" name="email" placeholder="E-mail" class="form-control input-md" type="email" required> 
		  	</div>
	</div>

	<div class="form-group">
	<label class="col-md-4 control-label" for="password">Password: </label>  
	<div class="col-md-4">
	<input id="password" name="password" placeholder="Password" class="form-control input-md" type="password" required>	</div>
	</div>
	<div class="form-group">
	<center><input type="submit" name="submit" class="btn btn-success" value="Log in"></center>
	<center><label class="control-label"><a href="file:///home/student/Desktop/individual-project-2017/templates/sign_up_page.html">Sign up</a></label></center>
	</div>
	<a href = "file:///home/student/Desktop/individual-project-2017/templates/home_page.%20html" >Back To Home Page</scr>
			
	</form>
	</div>
	</div>
	</div>

	</div>

</body>


</html>
